---
layout: page_v2
title: PARK
group: "navigation"
---

<link rel="stylesheet" href="{{site.url}}/assets/css/table.css">
<link rel="stylesheet" href="{{site.url}}/assets/css/slides.css">

<div class="slideshow-container">

  {% for park_image in site.data.park_pics %}

  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="{{site.url}}/{{park_image.img_path}}" style="height:400px;width: 100%;">
    <div class="text">{{park_image.caption}}</div>
  </div>

  {% endfor %}
  
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
  
</div>

<br>

<div style="text-align:center">

  <!-- <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> -->
  
  {% assign i = 1 %}
  {% for park_image in site.data.park_pics %}
    <span class="dot" onclick="currentSlide({{i}})"></span>
    {% assign i = i | plus:1 %}
  {% endfor %}

</div>

<p>
  El skatepark cuenta con diferentes módulos entre los cuales encontramos un pequeño bowl, planos inclinados, rampas de diferentes alturas, etc.
  El mini bowl ha sido construido específicamente para las clases con el objetivo de que los alumnos puedan aprender y mejorar rápidamente. 
  La disposición de las diferentes transiciones permite gran cantidad de lineas en las que tienen cabida trucos de calle y rampa.
  Importante destacar la pequeña ola que da paso al bowl la cual permite múltiples variaciones de power-slides.
</p>

<h2>NORMATIVA</h2>

<p>
    IMPORTANTE: Es obligatorio el uso del casco, y recomendamos el uso de protecciones adicionales (rodilleras, coderas …). Si no tienes casco, tenemos casco para alquilar.
</p>

<p>
    Para poder entrar tenéis que rellenar y firmar una declaración de reconocimiento de riesgo, y si eres menor de edad, por alguno de tus padres o tutores. (Se pueden descargar en la sección de NORMATIVA)
</p>

<script>

    var slideIndex = 1;
    
    showSlides(slideIndex);
    
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
    }
</script>
  