<div class="header">

    <style>
        .header {
            padding: 10px;
            text-align: center;
            background: #1abc9c;
            color: rgb(255, 255, 255);;
            font-size: 20px;

            border: 2px solid rgb(255, 0, 0);
            border-radius: 5px;

            background-image: url('{{site.url}}/assets/img/banner_2.png');
        }
    </style>
                      
    <h1>{{site.title}}</h1>

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{site.url}}/assets/css/social.css">

    <p>
        <a href="https://www.youtube.com/watch?v=cwzR-Pfv0n4" class="fa fa-youtube"></a>
        <a href="https://www.instagram.com/rawindoor.skate/" class="fa fa-instagram"></a>
        <a href="https://www.instagram.com/rawindoor.skate/" class="fa fa-facebook"></a>
    </p>

</div> 