<!DOCTYPE html>

<html>
    <head>
        <meta charset=utf-8>
        <meta name="keywords" content="Escuela de Skate Logroño Raw Indoor">
		<meta name="description" 
		      content="Raw Indoor | Escuela de Skate | Logroño">
		<meta name="Author" content="Raw Indoor">
        
        <title>{{site.title}}</title>

        <link rel="stylesheet" href="{{site.url}}/assets/css/body.css">

    </head>

    <body>

        <div class="content">

            {% include header.html %}

            <br>
            
            {% include nav.html %}

            <br>

            {{ content }}

            <br>

            {% include footer.html %}

        </div>

    </body>

</html> 